body{
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

div{
    margin-bottom: 20px;
}

.table {
    display: flex;
}

.column {
    margin-bottom: 1px;
    width: 50%;
}

.row {
    border: 1px black solid;
    height: 50px;
    margin: auto;
    width: 100%;
}